.hide {
  display: none;
}
@font-face{
  font-family:eng;
  src:url(fonts/Poppins-Medium.ttf) format("truetype");
}
.picture_preview {
  width: 100%;
  height: 110px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
}
.instagraminp
{
  font-family: eng;
  max-width: 200px;
    border-radius: 30px;
    background: rgb(147,0,104);
    background: -moz-linear-gradient(90deg, rgba(147,0,104,1) 2%, rgba(218,28,28,1) 33%, rgba(194,172,2,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(147,0,104,1) 2%, rgba(218,28,28,1) 33%, rgba(194,172,2,1) 100%);
    background: linear-gradient(90deg, rgba(147,0,104,1) 2%, rgba(218,28,28,1) 33%, rgba(194,172,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#930068",endColorstr="#c2ac02",GradientType=1);
    color: white;
    text-align: left;
}
.instagraminp:focus{
  color: #fff;
}
.telegraminp
{
  font-family: eng;
  max-width: 200px;
  border-radius: 30px;
  color: white;
  text-align: left;
  background: rgb(0,146,255);
  background: -moz-linear-gradient(135deg, rgba(0,146,255,1) 0%, rgba(136,201,250,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(0,146,255,1) 0%, rgba(136,201,250,1) 100%);
  background: linear-gradient(135deg, rgba(0,146,255,1) 0%, rgba(136,201,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0092ff",endColorstr="#88c9fa",GradientType=1);
}
.telegraminp:focus{
  color: #fff;
}
.table td, .table th {
  padding-top: 1.1rem;
}
.neworder{
  background-color: #effff1;
  border-right: 5px solid #8fc196;
}
.whatsappinp
{
  font-family: eng;
  max-width: 200px;
  border-radius: 30px;
  color: black;
  text-align: left;
  background: rgb(56,255,0);
  background: -moz-linear-gradient(135deg, rgba(56,255,0,1) 0%, rgba(136,250,136,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(56,255,0,1) 0%, rgba(136,250,136,1) 100%);
  background: linear-gradient(135deg, rgba(56,255,0,1) 0%, rgba(136,250,136,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38ff00",endColorstr="#88fa88",GradientType=1);
}
.whatsappinp:focus{
  color: #000;
}
#list {
  width: 100%;
}

.thum {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
}

.width-med {
  max-width: 600px;
}

.btn-med {
  max-width: 30%;
  min-width: 20%;
  vertical-align: middle;
  margin: auto;
}

.select-main-pic {
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 255, 98, 0.466);
  box-shadow: 0 0 12px 0 rgba(0, 255, 98, 0.466);
}

.btn-green {
  color: #28A745;
  background-color: rgba(255, 0, 0, 0);
}

.btn-green:hover {
  color: white;
  background-color: #28A745;
}

.btn-red {
  color: #dc3545;
  background-color: rgba(255, 0, 0, 0);
}

.btn-red:hover {
  color: white;
  background-color: #dc3545;
}

.c-cart1 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

checkbox:disabled {
  background-color: red;
}

.custom-control-input[disabled][checked] ~ .custom-control-label::before {
  color: #fff;
  background-color: #87a6c7;
}

.div-padd {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.search-inp {
  max-width: 300px;
  width: 100%;
}

.c-main-padd {
  padding-top: 50px !important;
}

label {
  margin-top: .5rem;
  margin-bottom: 0px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-top: 10px;
}
/*# sourceMappingURL=index.css.map */