.sr form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    -webkit-box-shadow: 0px -4px 32px -5px rgba(87,87,87,1);
    -moz-box-shadow: 0px -4px 32px -5px rgba(87,87,87,1);
    box-shadow: 0px 0 16px 1px rgba(87, 87, 87, 0.4);
}
.sr{
    display: table;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 60px;
}
.sr form input{
    position: absolute;
    top: 0;
    left: 0;
    direction: ltr;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.sr form .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.sr form:hover{
    width: 300px;
    cursor: pointer;
}

.sr form:hover input{
    display: block;
}

.sr form:hover .fa{
    background: #07051a;
    color: white;
}